.theory{
    width: 700px;
    margin: 0 auto;
    top:50%;
    background-color: beige;
    border: 2px solid rgb(112, 112, 110);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

h1{
    font-size: 36px;
}
